<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <h1>Cupcake Menu</h1>
    <form>
        <input type="text" name="flavor" id="flavor" placeholder="flavor">
        <input name="size" id="size" placeholder="size" class="other_inputs">
        <input name="rating" id="rating" placeholder="rating" class="other_inputs">
        <input name="image" id="image" placeholder="image" class="other_inputs">
        <button id="submit">Add!</button>
    </form>
        <ul>
            {% for cupcake in cupcakes %}
            <li>{{cupcake.flavor}} <button class="delete-cupcake" data-id="{{cupcake.id}}">X</button></li>
            {% endfor %}
        </ul>
    <!-- <div id="div">

    </div> -->
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>   
    <script src="/static/scripts.js"></script>
</body>
</html>
